extends layouts/default

block content
	include layouts/header
	div(class="body-container")
		include layouts/aside
		section(class="content-section")
			ul(class="item-section")
				each item in results.items
					li(class="item-container")
						div(class="item-description-container")
							a(class="item-title", href=item.url) #{item.name}
							p(class="item-subtitle") #{item.Website.name} - #{item.postedDate}
							p(class="item-description") #{item.description}
						img(class="item-thumbnail", src=item.imageUrl)
	section(class="footer-section")
		- var url = "/" + results.slug + "/more/" + results.currentPage
		div(class="load-more", data-link=url)
	div(class="copyright-container")
		p Thank you for reading
