extends layouts/default

block content
	include layouts/header
	div(class="body-container")
		include layouts/aside
		section(class="content-section")
			ul(class="item-section")
			each item in results.items
				- var postedDate = item.createdAt
				li(class="item-container")
					div(class="item-description-container")
						a(class="item-title", target="blank", href=item.url) #{item.name}
						p(class="item-subtitle") #{item.Website.name} - #{moment(postedDate).utc().format('hh:mm a')}
						p(class="item-description") #{item.description}
					img(class="item-thumbnail", src=item.imageUrl)
	section(class="footer-section")
		ul(class="pagination-container")
			- for (var i = 0; i < results.totalPages; i ++){
				li(class="item-pagination")
					if (results.currentPage == i + 1)
						span #{i + 1}
					else
						- var url = "/" + results.slug + "?page=" + (i + 1)
						a(href=url) #{i + 1}
			- }
	div(class="copyright-container")
		p We're Cambodians. We always forgive. We always forget. Peace & Love.
